.amount {
    top: 0px;
    margin: 0px;
    padding: 0px 2px 2px 3px;
    border-width: 2px;
    border-bottom-width: 2px;
    border-bottom-color: #0089FF;
    border-bottom-style: solid;
    width: 5%;
    text-align: center;
}