<!-- Transactions -->

<div *ngIf="!cardclick">
<h3>Requests</h3>
  <mat-card (click)="reviewRequest()">
    <mat-card-title>Request 1</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon matListIcon>person</mat-icon>
          <h2 matLine>Jessica Carolina M. Rodriguez</h2>
          <p matLine>jessica.c.rodriguez@accenture.com</p>
          <p matLine>Career Level 11</p>
        </mat-list-item>
        <mat-list-item>
          <h2 matLine>Transaction Type</h2>
          <p matLine style="font-weight: bold">Shuttle</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  
  
  <mat-card (click)="reviewRequest()">
    <mat-card-title>Request 2</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon matListIcon>person</mat-icon>
          <h2 matLine>Jessica Carolina M. Rodriguez</h2>
          <p matLine>jessica.c.rodriguez@accenture.com</p>
          <p matLine>Career Level 11</p>
        </mat-list-item>
        <mat-list-item>
          <h2 matLine>Transaction Type</h2>
          <p matLine style="font-weight: bold">Lost ID</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>  
</div>


<div *ngIf="cardclick">
    <h3>Review Request</h3>

    <mat-card (click)="reviewRequest()">
        <mat-card-title>Request 2</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-icon matListIcon>person</mat-icon>
              <h2 matLine>Jessica Carolina M. Rodriguez</h2>
              <p matLine>jessica.c.rodriguez@accenture.com</p>
              <p matLine>Career Level 11</p>
            </mat-list-item>
            <mat-list-item>
                <h2 matLine>Account ID</h2>
                <p matLine>1234567</p>
            </mat-list-item>
            <mat-list-item>
                  <h2 matLine>Transaction Type</h2>
                  <p matLine style="font-weight: bold">Lost ID</p>
            </mat-list-item>
            <mat-list-item>
                  <h2 matLine>Amount</h2>
                  <p matLine>300</p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>  
      
      <button mat-button color="primary">Confirm</button>
</div>
